.top{
    font-size: 140px;
    font-weight: bold;
    font-style: oblique;
    text-align: center;
    border: solid;
    border-color: orange;
    text-shadow:  -1px 0 black, 0 10px black, 1px 0 black, 0 -1px black;
    border-width: 10px;
    background-color: rgb(88, 203, 88);
    border-radius: 40%;
    color:white;
    font-family: 'Bubblegum Sans', cursive;
    
    
}
/* #surf{
    margin-left: 20%;
    margin-bottom: 30%;
    height:60vh;
    transform: rotate(90deg);
position: absolute;
    
    
} */
body{
    background-image: url(/assets/images/water.gif);
    /* background-repeat: no-repeat; */
    background-size: 50vw 50vw;

}

#wrapper{
    margin-bottom: 60%;
    margin-top: 10%;
   
    
}

.container{
    
    display:grid;
    grid-template-columns: 100% 100% 100% 100% 100% 100%;
    grid-template-rows:100% 100% 100% 100% 100% 100% ;
    margin-left: 20%; 
    font-family: 'Bubblegum Sans', cursive;
    padding-bottom:80px;
    height: 15vh;
    width:10vw;
   
    
}
 .item{
     font-size: 30px;
     color:white;
    background-color: navy;
    border:solid white;
     border-width: 3px;

}

 #item16{
    background-size: 100px;
    color:navy;
    background-color: turquoise;
    background-repeat: no-repeat;
    background-position-x: center;
}
#snake{
    height: 270px;
    width:150px;
    margin-bottom: 30%;
    margin-left: 30%;
    position: absolute;

}
#ladder{
    height: 270px;
    width:160px;
    margin-top: 12%;
    margin-left: 54%;
    position: absolute;
    transform: rotate(20deg);
}

 #item32{
    background-color: turquoise;
    color:navy
    /* grid-column: 2/3;
    grid-row: 1/4; */
 }
#item36{
    background-color: springgreen;
    color: navy;
    text-align: center;
}
#btn{
    margin-top: 0px;
    margin-left: 40%;
    border-radius: 50%;
    border-color: black;
    height:100px;
    width: 130px;
    border-width: 6px;
    font-size: 30px;
    background-color: red;
    font-family: 'Bubblegum Sans', cursive;
    color:white;
   position: static;
}
#dice{
    position: fixed;

    margin-left:82%;
    border-color: black;
    border-width: 10px;
    height:100px;
    width: 130px;
    font-size: 20px;
    background-color:whitesmoke;
    font-family: 'Bubblegum Sans', cursive;
    color:black;
  

}
#text{
    height: 300px;
    width: 260px;
    font-family: 'Bubblegum Sans', cursive;
    font-size: 30px;
    text-align: center;
    color: navy;
    background-color: orange;
    border:solid black; 
    border-width: 10px;
    margin-top: 250px;
    position: absolute;
}