body{
    background-image: url(/assets/images/bodybackground.jpg);
    background-repeat: no-repeat;
    background-size: 100vw 100vw;

}

#wrapper{
    margin-bottom: 60%;
    margin-top: 30%;
    
    
}
/* #snake{
    height: 200px;
    width:130px;
    margin-left: 30%;
    position: absolute;

} */
.container{
    
    display:grid;
    grid-template-columns: 100% 100% 100% 100% 100% 100%;
    grid-template-rows:100% 100% 100% 100% 100% 100% ;
    margin-left: 20%; 
    font-family: 'Bubblegum Sans', cursive;
    padding-bottom:80px;
    height: 15vh;
    width:10vw;
    
}
 .item{
     font-size: 30px;
     color:white;
    background-color: navy;
    border:solid white;

}

 #sixteen{
    background-size: 100px;
    color:navy;
    background-color: turquoise;
    background-repeat: no-repeat;
    background-position-x: center;
}
#snake{
    height: 270px;
    width:150px;
    margin-bottom: 30%;
    margin-left: 30%;
    position: absolute;

}
#ladder{
    height: 270px;
    width:160px;
    margin-top: 10%;
    margin-left: 54%;
    position: absolute;
    transform: rotate(20deg);
}

 #thirtytwo{
    background-color: turquoise;
    color:navy
    /* grid-column: 2/3;
    grid-row: 1/4; */
 }
#last{
    background-color: springgreen;
    color: navy;
    text-align: center;
}